<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-title >trackRequest</ion-title>
  </ion-toolbar>

</ion-header> -->

<ion-content>
  <ion-tabs class="tabs" >
    <ion-tab-bar slot="top" aria-selected=true>
      <ion-tab-button tab="requestHistory">

        <ion-label>MY REQUEST HISTORY</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="requestApproved">

        <ion-label>MY REQUEST APPROVED</ion-label>
      </ion-tab-button>




    </ion-tab-bar>
  </ion-tabs>
</ion-content>
