<ion-header>
  <ion-toolbar>
    <ion-title>trackRequest</ion-title>
  </ion-toolbar>
</ion-header>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="account">
          <ion-icon name="person"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="contact">
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="settings">
          <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

<ion-content>

</ion-content>
