<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>
  <label>
    MY PENDING REQUEST</label>
    <ion-grid>
      <ion-row>
        <ion-col>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
