
// .Heading{
//     font-size: 18px;
//     color: #083B66;
//     font-weight: bold;
//     font-family: Sitka Heading;

// }

// .description{
//     text-align: justify !important;
//     font-family: Roboto;
//     font-size: 15px;
// }


.expandRequest{
    
    min-height: 56px !important;
    background-color: #e4e4e475;

}

.dateAndTime{
    color: #243D5B;
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
}
.accessType{
    float: left !important;
    color: #E78200;
    font-family: Roboto;
}
// ion-back-button{
//     --background : #E78200;
// }
