<ion-header>
  <ion-toolbar color="danger">
    <img src="../assets/images/toolbar.png" style="margin-top: 18px;">
    <ion-buttons slot="start" style="margin-top: 18px;">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
  </div>

  <ion-grid>
    <div *ngIf="fakeData">
      <ion-row *ngFor="let d of dummyData | async" style="height: 68px;">
        <ion-col>
          <div>
            <ion-grid>
              <ion-card class="expandRequest" color="dark" [routerLink]="['/access-queue',d.id]">
                <ion-row>
                  <ion-col size="2">
                    <div style="margin: 7px;">
                      <img *ngIf="d.requestName === 'Business Access'" src="../assets/images/bussinessAccess.png"
                        style="width: 28px;">
                      <img *ngIf="d.requestName === 'Distribution Group'" src="../assets/images/distributionGroup.png"
                        style="width: 28px;">
                      <img *ngIf="d.requestName === 'Security Group'" src="../assets/images/securityGroup.png"
                        style="width: 28px;">
                      <img *ngIf="d.requestName === 'Shared Folder'" src="../assets/images/sharedFolder.png"
                        style="width: 28px;">
                      <img *ngIf="d.requestName === 'Remote Access'" src="../assets/images/remoteAccess.png"
                        style="width: 28px;">
                      <img *ngIf="d.requestName === 'Identity Management'" src="../assets/images/identityManagement.png"
                        style="width: 28px;">
                    </div>
                  </ion-col>
                  <ion-col size="8" class="ion-float-left">
                    <div class="requestName" text-center>
                      {{d.requestName}}
                    </div>
                 <div>
                   
                 </div>
                  </ion-col>
                  <ion-col class="ion-float-right">
                    <ion-icon name="arrow-forward" style="margin-top: 16px;color: #2269a4cc;"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-grid>
    <div *ngIf="!fakeData">
      <ion-row *ngFor="let d of count">
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-skeleton-text animated style="width: 61%;height: 172%;position: relative;top: -6px;">
                  </ion-skeleton-text>
                </ion-col>
                <ion-col>
                  <ion-skeleton-text animated style="width: 171.31px;height: 16px;position: relative;top: 7px;">
                  </ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>