<ion-header>
    <ion-toolbar>
        
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    
    </ion-toolbar>
  </ion-header>



<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>

  </div>

  <ion-grid>
    <div *ngIf="dummyData">


      <ion-row *ngFor="let d of dummyData | async">
        <ion-col size-md="6" offset-md="3">
          <div class="expandRequest">
            <ion-grid >
              <ion-row>

                <ion-col size="7" class="accessType">
                  <div [routerLink]="['/access-request-page',d.id]" class="ion-float-left">
                    {{d.accessType}}
                  </div>
                </ion-col>
                <br><br>
              </ion-row>
              <ion-row>
                <ion-col class="dateAndTime">
                  <div class="ion-float-left">

                    {{d.dateAndTime}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="description">
                    <toggle-content [show]="visible">
                      {{d.description}}
                    </toggle-content>

                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>




            <!--           
            <toggle-content >

              <ion-grid>
                <ion-row>
                  <ion-col>
                      <div text-justify>
                          {{d.description}}
                      
                        </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            
            </toggle-content> -->

          </div>

        </ion-col>


      </ion-row>
    </div>

  </ion-grid>

</ion-content>