<ion-header>
  <ion-toolbar color="danger">

    <img src="../assets/images/toolbar.png">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dash-board"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
  </div>

  <ion-grid>
    <ion-row *ngFor="let d of dummyData | async">
      <ion-col >
        <ion-card>
          <div class="expandRequest">
            {{d.requestName}}
          </div>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>


  <!-- <ion-grid>

    <div *ngIf="!fakeData">
      <ion-row *ngFor="let d of count">
        <ion-col>
          <div class="expandRequest">
            <ion-grid>
              <ion-row>
                <ion-col class="accessType">
                  <ion-skeleton-text animated style="width: 171.31px;height: 16px;"></ion-skeleton-text>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="dateAndTime">
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->



</ion-content>