<ion-header>
  <ion-toolbar color='primary'>
    <img src="../assets/logo/screen_logo.png" alt="IAMS" class="ToolbarLogo">
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-text-center">
    <p class='Heading'> MY PENDING REQUEST</p>
     
  </div>

  <ion-grid>
    <ion-row *ngFor=' let cou of count'>
      <ion-col size-md="6" offset-md="3">
        <div class='expandRequest'>
          <label class="accessHeading">System Access Request</label>
          <label class="accessTransNo" >Transaction no 48765</label>
          <div class="ion-text-end">12:05 PM May 2019</div>
          <label  ></label>
          <span></span>
          <!-- <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> -->
          
          
        </div>

      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>