

<ion-header  style="margin-top: auto;">
  <ion-toolbar color="danger">

    <img src="../assets/images/header.png" alt="" class="portrait">
    <img src="../assets/images/landScape.png" alt="" class="lasnScape">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="smallScreen">

 
  <ion-grid>
    <ion-row>
      <ion-col >
        <div class="name">Welcome Gary</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row>
      <ion-col style="position: relative;left: 10px;">
        <ion-card color="success" [routerLink]="['/my-pending-approval']" routerLinkActive="router-link-active">

          <ion-card-header>
            <img  class="cardIcon" src="../assets/icon/approved.png">
          </ion-card-header>
          <ion-card-content>



            <div text-center class="cardFont">
              My Pending Approval

            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col style="position: relative;right: 10px;">
        <ion-card color="success"  (click)="tap()">
          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/myAccess.png" alt="">
          </ion-card-header>

          <ion-card-content>

            <div text-center class="cardFont">
              My Access
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -20px;">
      <ion-col style="position: relative;left: 10px;">
        <ion-card color="success"  (click)="tap()">

          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/newRequest.png" alt="">
          </ion-card-header>
          <ion-card-content>

            <div text-center class="cardFont">
              New Request
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col style="position: relative;right: 10px;">
        <ion-card color="success"  [routerLink]="['/profile/myProfile']" >

          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/myProfile.png" alt="">
          </ion-card-header>
          <ion-card-content>

            <div text-center class="cardFont">
              My Profile
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
</ion-content>
<ion-footer>


  <ion-tab-bar slot="bottom" color="success" >
    <ion-tab-button tab="home">
        <img  src="../assets/icon/home.png" alt="" class="footerIcon">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trackRequest" [routerLink]="['/track-request/requestHistory']" routerLinkActive="router-link-active"  router>
        <img  src="../assets/icon/tracking.png" alt="" class="footerIcon">
      <ion-label>TrackRequest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
        <img  src="../assets/icon/settings.png" alt="" class="footerIcon">
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logout" [routerLink]="['/login']" >
        <img  src="../assets/icon/logout.png" alt="" class="footerIcon">
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-footer>
