<ion-header  >
  <ion-toolbar color="danger">

    <img src="../assets/images/header.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

 
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="name">Welcome Gary</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card color="success" [routerLink]="['/my-pending-approval']" routerLinkActive="router-link-active">

          <ion-card-header>
            <img  class="cardIcon" src="../assets/icon/approved.png">
          </ion-card-header>
          <ion-card-content>



            <div text-center class="cardFont">
              My Pending Approval

            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success"  (click)="tap()">
          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/myAccess.png" alt="">
          </ion-card-header>

          <ion-card-content>

            <div text-center class="cardFont">
              My Access
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="success"  (click)="tap()">

          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/newRequest.png" alt="">
          </ion-card-header>
          <ion-card-content>

            <div text-center class="cardFont">
              New Request
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color="success"  (click)="tap()">

          <ion-card-header>
            <img class="cardIcon" src="../assets/icon/myProfile.png" alt="">
          </ion-card-header>
          <ion-card-content>

            <div text-center class="cardFont">
              My Profile
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>


  <ion-tab-bar slot="bottom" color="success" style="border-top-left-radius: 19px;
  border-top-right-radius: 19px;">
    <ion-tab-button tab="schedule">
        <img  src="../assets/icon/home.png" alt="" class="footerIcon">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
        <img  src="../assets/icon/tracking.png" alt="" class="footerIcon">
      <ion-label>TrackRequest</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
        <img  src="../assets/icon/settings.png" alt="" class="footerIcon">
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
        <img  src="../assets/icon/logout.png" alt="" class="footerIcon">
      <ion-label>Logout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-footer>