<div class='expandRequest' >



</div>


<div class="icon" (click)="toggle()">

    <label class="accessHeading">{{accessType}}</label>
    <label class="accessTransNo">Transaction no {{transactionNum}}</label>
    <div class="accessDate">{{dateAndTime}}</div>





  <ng-content *ngIf="visible">
  </ng-content>


  <div>

    <ion-icon [name]="visible ? 'arrow-up' : 'arrow-down' "></ion-icon>
  </div>
  </div>