<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="data">
       
      </div>
      
      <!-- Skeleton screen -->
      <div *ngIf="!data">

      
      <ion-grid>
        <ion
      </ion-grid>
     
     
          
            <ion-label class="expandRequest">
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
      
  
      
      </div>
</ion-content>
