<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data">

  </div>

  <!-- Skeleton screen -->
  <div *ngIf="!data">


    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="expandRequest">

            </div>
        </ion-col>
      </ion-row>


    </ion-grid>






  </div>
</ion-content>