.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 168px;
}
ion-label{
 display: none;
}
.username{
  flex: 0 0 33px;
    width: 100px;
    min-width: 0;
    max-width: 200px;
}