<!-- <ion-header>
    <ion-toolbar color="danger">
        
      <img src="../assets/images/toolbar.png">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="dash-board"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-icon class="topArrow" padding name="arrow-back" [routerLink]="['/profile/managePassword']"></ion-icon>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../assets/images/forgetPassword.png" >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="forgetPass">Forget Your Password ?</div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <div class="content">Enter your phone number below to receive your password reset instruction</div>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
          <ion-item>
              <ion-label class="phoneNum"  placeholder="Phone number" position="fixed">
                  <ion-icon name="phone-portrait"></ion-icon>
              </ion-label>
              <ion-input placeholder="Phone number"></ion-input>
            </ion-item>
      </ion-col>
    </ion-row>
<br><br>
    <ion-row>
      <ion-col>
          <ion-button color="light" type="submit" class="recoverPass" expand="block">RECOVER PASSWORD</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>