ion-item{
    width: 306px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textColor{
    color: #083B66;
    font-size: 14px;
}
.image {
    height: 25vw;
    width: 25vw;
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.name{
    font-size: 18px;
    font-weight: bold;
}
