<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button (click)="openCam()" >Open Camera</ion-button>
<img src="{{image}}">
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" class="textColor">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" class="textColor">Mobile No</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" class="textColor">Department</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" class="textColor">Designation</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>